<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTLP0lvrToK5OFyKMLqU1vI8ECbZbLB_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>696629174309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartCradleSystem</string>
	<key>PROJECT_ID</key>
	<string>peaceful-cradle</string>
	<key>STORAGE_BUCKET</key>
	<string>peaceful-cradle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696629174309:ios:4d148a668c01d4cd6f5fcc</string>
</dict>
</plist>